<h2 class="mat-h2">Choose 2 colors</h2>
<!--Color 1-->
<div>
  <mat-form-field appearance="outline">
    <mat-label>Color 1</mat-label>
    <input
      type="color"
      matInput
      placeholder="#020202, blue, pink"
      [(ngModel)]="colorA.color">
  </mat-form-field>
</div>

<!--Color 2-->
<div>
  <mat-form-field appearance="outline">
    <mat-label>Color 2</mat-label>
    <input
      type="color"
      matInput
      placeholder="#020202, blue, pink"
      [(ngModel)]="colorB.color">
  </mat-form-field>
</div>

<!--Size-->
<!--<div>
  <label>Grid size: </label>
  <mat-slider min="5" max="20" step="1" [(ngModel)]="size" ></mat-slider>
</div>-->
<div>
  <button mat-raised-button color="primary" (click)="generate.emit()">Generate palette</button>
</div>
