<section class="section hero">
  <div class="container">
    <h1 class="mat-display-4">Hey there!</h1>
    <h3 class="mat-display-1">This is a cool color palette made with Angular. Wanna put some color in your life?</h3>
    <div>
      <a
        routerLink="/dashboard"
        mat-raised-button
        color="primary"
        class="mat-display-1">Get started</a>
    </div>
    <div>
      <img src="https://media.giphy.com/media/xThuWcaa4U4XZQDgvm/giphy-downsized.gif" class="gif" alt="Self destruction tape">
    </div>
  </div>
</section>
