<section class="section hero">
  <div class="container">
    <h1 class="mat-display-4">Hey there!</h1>
    <h3 class="mat-display-1">This is a cool color palette made in Angular. Wanna put some color in your life?</h3>
    <div>
      <a
        routerLink="/dashboard"
        mat-raised-button
        color="primary"
        class="mat-display-1">Put color in my life</a>
    </div>
    <div>
      <img src="https://media1.tenor.com/images/4484c8c394d513cbfe8530226576ed18/tenor.gif?itemid=12351084" class="gif" alt="Self destruction tape">
    </div>
  </div>
</section>
