
.palette {
  width: 560px;
  height: 560px;
  margin: 0 auto;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(10, 70px);
  grid-template-rows: 40px repeat(10, 70px) 40px;
  grid-auto-flow: row;

  .color {
    cursor: pointer;
    padding: 1px;
    .color-inner {
      border: 1px solid transparent;
      height: 100%;
      width: 100%;
    }
    &:hover {
      .color-inner {
        border: 1px solid white;
      }
    }
  }

}
.wrapper-inner{
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: auto;
  grid-auto-flow: row;
}
