
.palette {
  $size: 560px;
  margin: 0 auto;

  .color {
    cursor: pointer;
    height: 40px;
    width: 40px;
    padding: 3px;
     .color-inner {
      border: 1px solid transparent;
      height: 100%;
      width: 100%;
    }
    &:hover {
      .color-inner {
        border: 1px solid white;
      }
    }
  }
}
